<% include header %>
<style>
    header {
        background-color:gold;
        color:white;
        text-align:center;
        padding:5px;
    }
    nav {
        line-height:30px;
        background-color:goldenrod;
        height:645px;
        width:150px;
        float:left;
        padding:5px;
    }
    section {
        width:520px;
        float:left;
        padding:10px;
    }
    footer {
        background-color:gold;
        color:black;
        clear:both;
        text-align:center;
        padding:5px;
    }
</style>
<header>
    <h1>GSW MANAGEMENT</h1>
</header>
<nav>
    <br>
    <a href="/">Home</a><br>
    <a href="/course/create">Add Players</a><br>
    <a href="/course/dropdown_ajax">Team Roster</a><br>
    <a href="/course/startinglineup">Starting Lineup</a><br>
    <a href="/course/seasonstats">Season Statistics</a><br>
    <a href="/course/gamestats">Game Statistics</a><br>
    <a href="/course/points">Total Points in Game</a><br>
    <a href="/course/highscoring">High Scoring Players</a><br>
    <a href="/about">About</a><br>
</nav>

<br>
<section>
    <h1>Player's Information</h1>
<% if(rs.length > 0) { %>
N.O. : <%= rs[0].Num %> <br />
NAME : <%= rs[0].Name %> <br />
POSITION : <%= rs[0].Position %> <br />
AGE : <%= rs[0].Age %> <br />
HEIGHT : <%= rs[0].Height %> <br />
WEIGHT : <%= rs[0].Weight %> <br />
COLLEGE : <%= rs[0].College %> <br />
<% } else { %>
No player name matched this player N.O. <%= courseid %>.
<% } %>
   <br> <a href="/">Home</a><br>
</section>


<footer>Copyright © Danit</footer>